@import "grid";
@import "fonts";

body {
    font-family: 'bunt';
}

header {
    background: #50A2E1;
    color: white;
    height: 86px;

    p {
        margin: 0;
    }

    .logo {
        float: left;
        width: 168px;
        text-align: center;
    }

    .top, .bottom {
        font-size: 30px;
    }

    .top {
        line-height: 1em;
        margin-top: 7px;
    }

    .middle {
        margin-top: -1px;
    }

    .bottom {
        margin-top: -15px;
    }

    .info {
        float: right;
        text-align: right;
        width: 200px;
        padding-top: 17px;
    }

    .email {
        font-size: 21px;
    }

    .phone {
        font-family: 'bunt';
        font-size: 14px;
        margin-top: -3px;
    }
}

.banner {
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('/assets/img/bright.jpg');
    color: white;
    font-family: 'bunt';

    > .container {
        padding-top: 100px;
        text-align: center;
    }

    h2 {
        margin: 0;
        text-transform: uppercase;
        font-size: 43px;
        font-weight: 400;
        letter-spacing: 1.9px;
    }

    h3 {
        margin: 0;
        font-weight: 400;
        letter-spacing: .4px;
        font-size: 18px;
        font-size: 20px;
        margin-top: -4px;
    }

}
