@import "compass/css3";
@import "grid";
@import "fonts";

body {
    font-family: 'bunt';
    background: #E2ECF3;
}

header {
    background: #50A2E1;
    color: white;
    height: 86px;

    p {
        margin: 0;
    }

    .logo {
        float: left;
        width: 168px;
        text-align: center;
    }

    .top, .bottom {
        font-size: 30px;
    }

    .top {
        line-height: 1em;
        margin-top: 7px;
    }

    .middle {
        margin-top: -1px;
    }

    .bottom {
        margin-top: -15px;
    }

    .info {
        float: right;
        text-align: right;
        width: 200px;
        padding-top: 17px;
    }

    .email {
        font-size: 21px;
    }

    .phone {
        font-family: 'bunt';
        font-size: 14px;
        margin-top: -3px;
    }
}

.banner {
    height: 260px;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('/assets/img/bright.jpg');
    color: white;
    font-family: 'bunt';

    > .container {
        padding-top: 68px;
        text-align: center;
    }

    h2 {
        margin: 0;
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1.9px;
        font-size: 5vw;

        @media(min-width:768px){
            font-size: 43px;
        }
    }

    h3 {
        margin: 0;
        font-weight: 400;
        letter-spacing: .4px;
        font-size: 3.4vw;
        margin-top: -0px;

        @media(min-width:768px){
            font-size: 20px;
            margin-top: -4px;
        }

    }

}

.first-card {
    background: white;
    margin-top: -70px;
    position: relative;
    overflow: hidden;
    padding: 0;
    @include border-radius(4px);

    .content-text {
        padding: 25px 30px;
        color: #656565;
        font-size: 14px;

        p {
            margin-top: 0;
        }
    }

    .content-map {
        padding: 0;
        position: static;

        &.guarded:after {
            content: "";
            display: block;
            height: 100%;
            width: 100%;
            margin-top: -100%;
            pointer-events: auto;
            position: relative;
        }
    }

    iframe {
        position: static;
        height: 100%;
    }

    @media(min-width:768px){
        height: (750px / 2);

        .content-text {
            line-height: 22px;

            p {
                margin-bottom: 1.5em;
            }
        }
    }

    @media(min-width:992px){
        height: (970px / 2);

        .content-text {
            padding: 30px 40px;
            font-size: 17px;
            line-height: 28px;
        }
    }

    @media(min-width:1200px){
        height: (1170px / 2);

        .content-text {
            font-size: 19px;
            line-height: 32px;
        }
    }
}
